* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  /* background-color: rgba(68, 83, 83, 0.5); */
}
.container {
  margin: 0 auto;
  width: 90%;
}
.nav_container {
  box-shadow: 0 0 6px lightgray;
  margin-bottom: 6em;
  background-color: white;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}
.nav_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_right ul {
  display: flex;
  justify-content: flex-end;
  gap: 3em;
  list-style-type: none;
  font-size: 1.2em;
}
.nav_right ul li a {
  padding: 1em 3em;
}
.nav_right ul a {
  text-decoration: none;
  color: black;
}
.nav_right ul :hover a {
  background-color: rgb(224, 224, 83);
  color: black;
}
.hero_container {
  margin-top: 20vh;
}
.hero_content {
  display: flex;
  flex: 1;
  /* width:30%; */
}
/* .hero_content h1{
  font-size: 2em;
} */

.hero_left h1 {
  font-size: 55px;
}
.hero_left p {
  font-size: 1.5em;
  margin: 0.9em 0;
}
.hero_left button {
  padding: 1.2em 3em;
  background-color: rgb(224, 224, 83);
  border-radius: 50px;
}
.hero_left button a {
  text-decoration: none;
  color: black;
}
.main_container {
  margin: 2em 0;
  box-shadow: 0 0 5px;
  height: 30vh;
  background-color: rgba(68, 83, 83, 0.5);
  /* margin-top: 20vh; */
}

.main_content p {
  font-size: 1.5em;
  line-height: 1.5em;
  margin:5rem 0;
}
.aside_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aside_content p {
  font-size: 1.5em;
}
.aside_content button {
  padding: 1.2em 3em;
  background-color: rgb(224, 224, 83);
  border-radius: 50px;
}
.aside_content button a {
  text-decoration: none;
  color: black;
}
/* .aside_container {
margin:10px 0;
} */
.aside_content {
  margin: 3em 0;
}
.aside_content p {
  line-height: 2em;
}
.tests_container {
  margin-top: 20vh;
}
.test {
  background-color: rgba(68, 83, 83, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* gap: 2em; */
  height: 50vh;
}
.test_content h1 {
  margin-top: 3em;
  /* margin: 2em 0; */
  font-size: 2em;
}
.test_content ul {
  margin-top: 2em;
  list-style-type: none;
  /* padding: 3em 0; */
  /* line-height: 1.5em; */
  font-size: 1.5em;
  /* position: absolute; */
  /* top: 10em; */
}
.test_content ul a {
  text-decoration: none;
  color: rgb(224, 224, 83);
  /* line-height: 4em; */
  /* margin:4em 0; */
}

.test_content ul li {
  margin-bottom: 1em;
}
.contact_container {
  margin-top: 20vh;
}
.contact_content {
  background-color: rgba(68, 83, 83, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap:2em; */
  height: 50vh;
}
.contact_content h {
  font-size: 2em;
}
.contact_content p {
  font-size: 1.5em;
  line-height: 1.5em;
}
.htmlcss_container {
  margin-top: 20vh;
}
.htmlcss_content {
  background-color: rgba(68, 83, 83, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}
.htmlcss_content h1 {
  margin: 2em 0;
  font-size: 2em;
}
.htmlcss_content p {
  font-size: 1.2em;
  margin: 2em 0;
}
.htmlcss_content button {
  padding: 1.2em 3em;
  background-color: rgb(224, 224, 83);
  border-radius: 50px;
  border: none;
}
.htmlcss_content button a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
.quiz_container {
  margin-top: 20vh;
}
.quiz_content {
  background-color: rgba(68, 83, 83, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}
.quiz_content p {
  line-height: 3em;
  font-size: 1.3em;
}
.quiz_content button {
  padding: 1.2em 3em;
  background-color: rgb(224, 224, 83);
  border-radius: 50px;
  border: none;
}
.quiz_content #countdown {
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 0;
  height: 70px;
  width: 200px;
}
.button {
  display: none;
}
.score_container {
  margin-top: 20vh;
}
.score_content {
  background-color: rgba(68, 83, 83, 0.5);
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6em;
  height: 50vh;
}
.inner {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:rgb(224, 224, 83);
  padding: 1em;
}
.number-score {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  /* background-color:rgb(224, 224, 83); */
padding-bottom: 9em;
}
#percentage {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  /* background-color:rgb(224, 224, 83); */
}

#number {
  font-weight: 600px;
  color: black;
}
.continue_container {
  margin-top: 8em;
}
.continue_container h2 {
  font-size: 2em;
  margin: 1.5em;
}
.continue_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.continue_left{
  box-shadow: 0 0 5px lightgray;
  padding: 2em;

}
.continue_right {
  box-shadow: 0 0 5px lightgray;
  padding: 2em;
}
.continue_left h3 {
  color: rgb(224, 224, 83);
}
.continue_left h2 {
  font-size: 2em;
}
.continue_left p {
  font-size: 1.2em;
  margin: 1.2em;
}
.continue_left ul {
  line-height: 2.5em;
  font-size: 1.5em;
}
.continue_left button {
  padding: 1.2em 3em;
  background-color: rgb(224, 224, 83);
  border-radius: 50px;
  border: none;
}
.continue_left button a {
  text-decoration: none;
}

.continue_right h3 {
  color: rgb(224, 224, 83);
}
.continue_right h2 {
  font-size: 2em;
}
.continue_right p {
  font-size: 1.2em;
  margin: 1.2em;
}
.continue_right ul {
  line-height: 2.5em;
  font-size: 1.5em;
}
.continue_right button {
  padding: 1.2em 3em;
  background-color: rgb(224, 224, 83);
  border-radius: 50px;
  border: none;
}

.footer_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.footer_section ul {
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.5em;
}
.footer_section ul a {
  text-decoration: none;
  color: black;
}

.humberger {
  display: none;
}

@media screen and (max-width: 378px) {
  .nav_left img {
    width: 100%;
  }
  .nav_right ul {
    display: none;
    overflow: hidden;
  }
  .humberger {
    display: block;
  }
  .hero_content img {
    display: none;
  }
  .aside_content p {
    margin-top: 15em;
  }
}
